# Expose video0. Tight coupling between this and associated service unit (see arch)
SUBSYSTEM=="video4linux", KERNEL=="video0", TAG+="systemd", ENV{SYSTEMD_WANTS}="repeact-video0-setup.service"