[Unit]
Description=Repeact source available daemon
BindsTo=repeact-video0-setup.service
After=repeact-video0-setup.service

[Service]
Type=exec
# Required for boot with an already source available.
# Sidekick: safety feature
ExecStartPre=/etc/repeact/src-avail-daemon.sh manage_service
ExecStart=/etc/repeact/src-avail-daemon.sh wait_for_event
ExecStopPost=/etc/repeact/src-avail-daemon.sh manage_service
Restart=on-success
RestartSec=500ms